.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(210, 210, 210, 0.2);
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px 30px 20px;
  margin-top: 20px;
  gap: 5px;
  color: #585757;
}
